*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.xdv
*.pdfsync
*.listing
*.tmp


_minted*/


.DS_Store
Thumbs.db


__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
venv/
.env
.envrc
.cache/
